@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-title: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

$mqMinWidth: 420px;

$primary-bg: #f2c779;
$card-bg: #f8e5c0;
$text-accent: #5b3d91;
$text-accent-orange: #d4a017;

$black: #000;
$white: #fff;

$gray-900: #333333;
$gray-700: #777777;
$gray-500: #b5b5b5;
$gray-300: #d1d1d1;
$gray-100: #f5f5f5;
