@use "sass:color";

$font-family-serif: "Georgia", "Times New Roman", serif;
$title-font: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

$mq-min-width-tablet: 768px;
$mq-min-width-pc: 1024px;

$primary-bg: #f2c779;
$card-bg: #f8e5c0;
$text-accent: #5b3d91;
$text-accent-orange: #d4a017;

$black: #000;
$white: #fff;

$gray-900: #333333;
$gray-700: #777777;
$gray-500: #b5b5b5;
$gray-300: #d1d1d1;
$gray-100: #f5f5f5;
